*.pyc
*.pyo
*.mo
*~
.coverage
db.sqlite3
uwsgi.ini
log/**
!log/placeholder
media/**
!media/**/init.txt
speedtest/settings/local.py
*keys.py
products/management/*
.ebextensions/*
.elasticbeanstalk/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
