{% extends "base.html" %}

{% block title %}Login | {{ block.super }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Login</h1>
            <br>
            <form action="" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Login" class="btn btn-small badge-secondary">
            <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
</div>

{% endblock %}