<footer class="border-left-0 border-right-0">
<div class="container-fluid">
    <div class="row text-center">
    <div class="col-sm-6 col-md-4">
        <p><a href="{% url 'returns' %}">Returns</a></p>
    </div>
    <div class="col-sm-6 col-md-4">
        <p><a href="{% url 'contact' %}">Contact Us</a></p>
    </div>
    <div class="col-sm-6 col-md-4">
        <p><a href="{% url 'dataprivacy' %}">Data Privacy Policy</a></p>
    </div>
    <div class="col-sm-6 col-md-4">
        <p><a href="{% url 'shipping' %}">Shipping</a></p>
    </div>
    </div>
</div>
</footer>