<form method="POST" action="{% url 'users:dashboard_addresses' %}"> {% csrf_token %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}"
    {% endif %}
    {{ formset.management_form }}
    {% for form in formset %}
    <p>
    {% if form.addressLine1.value %}
        {{ form.addressLine1.value }}, {{ form.addressCity.value }}, {{ form.addressState.value }}, {{ form.addressPostalCode.value }}
        <a class="btn badge badge-secondary badge-pill" data-toggle="collapse" href="#collapseForm{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="collapseExample">Edit</a>
    {% else %}
        <a class="btn badge badge-secondary badge-pill" data-toggle="collapse" href="#collapseForm{{ forloop.counter }}" role="button" aria-expanded="false" aria-controls="collapseExample">Add</a>
    {% endif %}
    </p>
    <div class="collapse" id="collapseForm{{ forloop.counter }}">
        <div class="card card-body">
            {{ form.as_p }}
        </div>
    </div>
    {% endfor %}
    <input type="submit" value="Save Changes" class="btn btn-info">
</form>