{% extends "layout.html" %}

{% block title %}Sign Up | {{ block.super }}{% endblock %}

{% block content %}

<div class="container">
<div class="row">
    <h2>My Account</h2>
    <p>Welcome, {{ user.email }}! To manage your information and preferences or to see your order history, please use the options below.</p>
</div>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-outline-secondary" href="{% url 'users:dashboard' %}">Account Details
        </a>
        <a class="btn btn-outline-secondary" href="{% url 'users:dashboard_addresses' %}">Addresses
        </a>
        <a class="btn btn-outline-secondary" href="{% url 'users:dashboard_payment_methods' %}">Payment Methods
        </a>
        <a class="btn btn-outline-secondary active" href="{% url 'users:dashboard_orders' %}">Orders
        </a>
    </div>
    <div class="col-md-9">
        <p>Lorem Ipsum</p>
    </div>
<div>
</div>

{% endblock %}