{% extends 'base.html' %}

{% block title %}Sign Up | {{ block.super }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h2>My Account</h2>
        <p>Welcome, {{ user.email }}! To manage your information and preferences or to see your order history, please use the options below.</p>
    </div>
</div>
</div><!-- Container -->
<div class="container-fluid">
<div class="row">
    <div class="col-12 col-md-3 col-lg-2 text-center">
        <a class="btn btn-block btn-outline-secondary" href="{% url 'users:dashboard' %}">Account
        </a>
        <a class="btn btn-block btn-outline-secondary" href="{% url 'users:dashboard_addresses' %}">Addresses
        </a>
        <a class="btn btn-block btn-outline-secondary" href="{% url 'users:dashboard_payment_methods' %}">Saved Cards
        </a>
        <a class="btn btn-block btn-outline-secondary active" href="{% url 'users:dashboard_orders' %}">Orders
        </a>
        <br>
    </div>
    <div class="col-12 col-md-9">
        <h4>My Orders</h4>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                <tr class="d-flex">
                    <th class="col-2 col-sm-2 col-md-3">
                        <p>ID</p>
                    </th>
                    <th class="col-2 col-sm-4 col-md-3">
                        <p>Tracking #</p>
                    </th>
                    <th class="col-2 col-sm-3 col-md-3">
                        <p>Ordered</p>
                    </th>
                    <th class="col-2 col-sm-3">
                        <p>Shipped</p>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for sale in sale_list %}
                    <tr class="d-flex">
                    <td class="col-2 col-md-3"><a href="{% url 'users:dashboard_order_detail' pk=sale.saleID %}">{{ sale }}</a></td>
                    <td class="col-2 col-sm-3 col-md-3"><a href="{{ sale.shipment_set.first.shipmentTrackingURL|default_if_none:"" }}">{{ sale.shipment_set.first.shipmentTrackingNumber|default_if_none:"Not Shipped" }}</a></td>
                    <td class="col-2 col-sm-3"><p>{{ sale.saleDate|date:"M d Y" }}</p></td>
                    <td class="col-2 col-sm-3"><p>{{ sale.shipment_set.first.shipmentDateLabelPrinted|date:"M d Y"|default:"Not Shipped" }}</p></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- Table responsive div-->
    </div>
    </div>
<div>

{% endblock %}