{% extends 'base.html' %}

{% block title %}Sign Up | {{ block.super }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Sign Up</h2>
            <form method="POST" action="{% url 'users:signup' next=view.kwargs.next %}">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Sign Up" class="btn-primary">
            <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
        <div class="col-md-6">
            <h2>Sign Up</h2>
        </div>
    </div>
</div>

{% endblock %}