{% extends 'layout.html' %}

{% block content %}

{% if not billing_profile %}

    <div class="row text-center">
        <div class="col-12 col-md-6">
            <p class="lead">Login</p>
            {% include 'users/snippets/form.html' with form=login_form next=request.build_absolute_uri %}
        </div>
        <div class="col-12 col-md-6">
            <p class="lead">Continue as Guest</p>
            {% url 'users:guest_register' as guest_register_url %}
            {% include 'users/snippets/form.html' with form=guest_form next=request.build_absolute_uri action_url=guest_register_url %}
        </div>
    </div>

{% else %}

    {% if not sale_obj.saleShippingAddress %}
        <p>{{ cart_obj }}</p>
        <div class="row">
            <div class="col-12">
                <p class="lead">Shipping Address</p>
                <hr/>
            </div>
            <div class="col-6">
                    {% url 'addresses:checkout_address_create' as checkout_address_create_url %}
                    {% include 'addresses/form.html' with form=address_form next=request.build_absolute_uri action_url=checkout_address_create_url addressType='shipping' %}
            </div>

            {% if address_qs.exists %}

            <div class="col-6">
                {% for address in address_qs %}
                    <label for="address-{{ address.id }}">
                        <input type="radio" name="shipping_address" value="{{ address.id }}"
                    {{ address.addressLine1 }}
                    </label>
                {% endfor %}
            </div>

            {% endif %}
            
        </div><!-- End of Row -->
    {% elif not sale_obj.saleBillingAddress %}

        {{ cart_obj }}
        <div class="row">
            <div class="col-md-6 mx-auto col-10">
            <p class="lead">Billing Address</p>
            <hr/>
            {% url 'addresses:checkout_address_create' as checkout_address_create_url %}
            {% include 'addresses/form.html' with form=address_form next=request.build_absolute_uri action_url=checkout_address_create_url addressType='billing' %}
            </div>
        </div>

    {% else %}

        {{ sale_obj }}
        <h1>Finalize Checkout {{ cart_obj }}</h1>
        <table>
            <tbody>

                {% for item in sale_obj.saleItems.all %}
                <tr>
                    <th scope="row">-</th>
                    <td>{{ item.productID }}</td>
                    <td>{{ item.piColor }}</td>
                    <td>{{ item.piSize }}</td>
                    <td>{{ item.productID.productBasePrice }}</td>
                    <td>{{ item.productID.productDiscountAmount }}</td>
                    <td>{{ item.productID.productSalePrice }}</td>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="6">-</td>
                    <td><b>Subtotal:</b> {{ sale_obj.saleSubTotal }}</td>
                    <td><b>Shipping:</b> {{ sale_obj.saleShipCostAmountCharged }}</td>
                    <!-- change: add sales tax here-->
                    <!-- change: add sale discount amount here-->
                    <td><b>Total:</b> {{ sale_obj.saleTotal }}</td>
                </tr>
            </tbody>
        </table>
        <form class="form" method="POST" action="{% url 'shopcart:checkout' %}">{% csrf_token %}
            <button type="submit">Complete Checkout</button>
        </form>
    {% endif %}

{% endif %}

{% endblock %}