<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>{% block title %}Ashley's Site{% endblock %}</title>
  </head>


  <body>

    <!-- Nav Bar --> 
    {% load static %}
    <nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <img class="navbar-brand" src="{% static 'logo_white_background.png' %}" alt="Logo" height="150px" width="150px">
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        {% if not user.is_authenticated %}
          <a class="nav-link" href="{% url 'users:login'%}?next={{request.path}}">Login</a>
          <a class="btn" href="{% url 'users:signup' next=request.build_absolute_uri %}">Sign up</a>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="btn fas fa-user blackiconcolor"></i>{{ user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout'%}?next={{request.path}}">Logout</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shopcart:home'%}">{{ request.session.cart_count }} <i class="btn fas fa-shopping-cart blackiconcolor" href="{% url 'shopcart:home' %}"></i></a>
        </li>
      </ul>
      </div>
    </nav>

    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav w-100">
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'products:category' category='Dresses' %}">Dresses</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'products:category' category='Tops' %}">Tops</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'products:category' category='Outerwear' %}">Outerwear</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'products:category' category='Bottoms' %}">Bottoms</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'products:category' category='Jeans' %}">Jeans</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'products:category' category='Accessories' %}">Accessories</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'products:category' category='Shoes' %}">Shoes</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'products:category' category='Sales' %}">Sales</a>
          </li>
        </ul>
      </div>
    </nav>


   
    <!-- /Nav Bar --> 

    <div class="container">

      <!-- Jumbotron -->
      {% if is_jumbotron %}
        {% block jumbotron %}
          <div class="jumbotron">
              <div class="container">
              </div>
          </div>
        {% endblock %}
      {% endif %}
      <!-- Jumbotron -->

      <!-- Breadcrumbs -->
      <div class="breadcrumbs">
        {% block breadcrumbs %}
        {% endblock %}
      </div>
      <!-- Breadcrumbs -->

    </div>

    <div class="container">
    {% block content %}{% endblock %}
    </div>

    {% block footer %}
    <footer class="bg-warning">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-4">
            <p><a href="{% url 'returns' %}">Returns</a></p>
            <p><a href="{% url 'contact' %}">Contact Us</a></p>
            <p><a href="{% url 'dataprivacy' %}">Data Privacy Policy</a></p>
            <p><a href="{% url 'tos' %}">Terms of Service</a></p>
        </div>
        <div class="col-md-4">
          <p>&copy; Company 2017-2018</p>
        </div>
        <div class="col-md-4">
          <p>&copy; Company 2017-2018</p>
        </div>
      </div>
    </div>
    </footer>
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>