{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <!-- Example row of columns -->
        <div class="text-center">
                <h1>Returns Policy</h1>
        </div>
        <br>
        <div class="text-center">
 





            <p>Thank you so much for shopping with us! Let us know if we can do anything to help you.</p>
            <p>Your order is available for refund or exchange your order within 25 days of the date of purchase. The item must be in the original condition that it was sent to you. If it is not in a returnable condition then we will send you an email with your options. Customers are responsible for return shipping cost unless the product arrived damaged.</p>
            <p>When we receive and inspect the returned item(s) we will deduct the cost of return shipping from the refunded amount.</p>
            <p>If you are exchanging an item you will not be charged for shipping.</p>
            <p class="text-center">If you are exchanging an item you will not be charged for return shipping.</p>
            <p class="text-center">To start a return/exchange send us an email at contact@honeyboxboutique.com</p>
        </div>
        <hr>

    </div> <!-- /container -->



{% endblock %}