{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <!-- Example row of columns -->
        <div class="text-center">
                <h2>Returns Policy</h2>
        </div>
        <div>
            <p>Thank you so much for shopping with us! Let us know if we can do anything to help you.</p>
            <p>Your order is available for refund or exchange your order within 25 days of the date of purchase. 
            The item must be in the original condition that it was sent to you. If it is not in a returnable condition then we will send you an email with your options. 
            Customers are responsible for return shipping cost unless the product arrived damaged.</p>
            <p>When we receive and inspect the returned item(s) we will deduct the cost of return shipping from the refunded amount.</p>
            <p>If you are exchanging an item you will not be charged for shipping.</p>
            <p class="text-center">Click the link below to start your return/exchange</p>
        </div>
        <div class="text-center">
                <h2>Shipping</h2>
        </div>
        <div>
            <p>Your order will be processed and shipped out 24 hours after purchase. (Mon-Fri). Orders will take 4-10 business days to deliver. 
            If there are any issues with delivery please don’t hesitate to call or email. HoneyBox is not responsible for any lost or stolen packages once delivered.</p>
            <p>If you are exchanging an item you will not be charged for shipping.</p>
            <p class="text-center">Questions? Contact us at honeyboxboutique1@gmail.com
            and we would be happy to help.</p>
        </div>
        <hr>

    </div> <!-- /container -->



{% endblock %}