{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <!-- Example row of columns -->
        <div class="text-center">
                <h1>Shipping Information</h1>
        </div>
        <div class="text-center">
            <p>Orders will be processed and shipped out 24 hours after purchase. (Mon-Fri). Orders will take 4-10 business days to deliver. 
            If there are any issues with delivery please don’t hesitate to call or email. HoneyBox is not responsible for any lost or stolen packages once delivered.</p>
            <p>If you are exchanging an item you will not be charged for shipping.</p>
            <p class="text-center">Questions? Contact us at honeyboxboutique1@gmail.com
            and we would be happy to help.</p>
        </div>
        <hr>

    </div> <!-- /container -->
{% endblock %}