{% extends 'checkout-base.html' %}

{% block title %}
<title>Checkout | HoneyBox Boutique</title>
{% endblock %}
<!-- Breadcrumbs -->
{% block breadcrumbs %}
<div class="container">
    <p>
    Checkout
    {% if not sale_obj.saleShippingAddress %}
    >
    Shipping Address
    </p>
    {% elif not sale_obj.customerShipMethodID %}
    >
    Shipping Address
    >
    Shipping Method
    </p>
    {% elif not sale_obj.saleBillingAddress %}
    >
    Shipping Address
    >
    Shipping Method
    >
    Billing
    </p>
    {% else %}
    >
    Shipping Address
    >
    Shipping Method
    >
    Billing
    >
    Finalize Checkout
    </p>
    {% endif %}
</div>
{% endblock %}
<!-- Breadcrumbs -->
{% block content %}

{% if messages %}
</div>
<div class="container-fluid">
<div class="col-12 text-center">
    {% for message in messages %}
    {% if message.tags == 'warning' %}
    <div class="messages alert alert-danger" role="alert">
        <p class="{{ message.tags }} p-0">{{ message }}</p>
    </div>
    {% elif message.tags == 'success' %}
    <div class="messages alert alert-success" role="alert">
        <p class="{{ message.tags }} p-0">{{ message }}</p>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>
{% endif %}

{% if not billing_profile %}
<div class="container">
    <div class="row text-center">
        <div class="col-12 col-md-6"> 
            <h3>Login</h3>
            <br>
            {% url 'users:login' as user_login_url %}
            {% include 'users/snippets/form.html' with form=login_form action_url=user_login_url next=request.build_absolute_uri btn_text='Login' %}
            <br>
        </div>
        <div class="col-12 col-md-6">
            <h3>Continue as Guest</h3>
            <br>
            {% url 'users:guest_register' as guest_register_url %}
            {% include 'users/snippets/form.html' with form=guest_form next=request.build_absolute_uri action_url=guest_register_url btn_text='Continue as Guest' %}
            <br>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <h3>Don't have an account?</h3>
            <br>
            <a class="btn btn-small badge-secondary btn-block" href="{% url 'users:signup' next=request.build_absolute_uri %}">Sign Up</a>
        </div>
    </div>
</div>
{% else %}

    {% if not sale_obj.saleShippingAddress %}
<div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Shipping Address</h1>
                <hr/>
            </div>
            <div class="col-6">
                {% if address_qs.exists %}
                <h5>Use Existing Address</h5>
                {% url 'addresses:checkout_address_reuse' as checkout_address_reuse %}
                {% include 'addresses/prev_addresses.html' with address_qs=address_qs next=request.build_absolute_uri action_url=checkout_address_reuse addressType='shipping' %}
                {% endif %}


                <a class="btn badge badge-secondary badge-pill" data-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseExample">Add an Address</a>
                <div class="collapse" id="collapseForm">
                    <div class="card card-body">
                        {% url 'addresses:checkout_address_create' as checkout_address_create_url %}
                        {% include 'addresses/form.html' with form=address_form next=request.build_absolute_uri action_url=checkout_address_create_url addressType='shipping' %}
                    </div>
                </div>

            </div>

        {% include 'shopcart/snippets/cart-display.html' %}

        </div><!-- End of Row -->
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn badge badge-secondary" href="{% url 'shopcart:home' %}">Return to Cart</a>
            </div>
        </div>
    </div>
    {% elif not sale_obj.customerShipMethodID %}

<div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Shipping Method</h1>
                <hr/>
            </div>
            <div class="col-6">
                {% include 'shopcart/ship-method-form.html' with form=ship_method_form %}
                <br>
                <br>
                <h5>Shipping Address</h5>
                <p>{{ sale_obj.saleShippingAddress.addressLine1 }}, {{ sale_obj.saleShippingAddress.addressCity }}, {{ sale_obj.saleShippingAddress.addressState }} {{ sale_obj.saleShippingAddress.addressCountry }}</p>
                {% include 'shopcart/edit-shipping-form.html' with form=edit_form %}
                <br>
            </div>
        {% include 'shopcart/snippets/cart-display.html' %}
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn badge badge-secondary" href="{% url 'shopcart:home' %}">Return to Cart</a>
            </div>
        </div>
</div>
    {% elif not sale_obj.saleBillingAddress %}

<div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Billing Address</h1>
                <hr/>
            </div>
            <div class="col-6">
                {% if address_qs.exists %}
                <h5>Use Existing Address</h5>
                {% url 'addresses:checkout_address_reuse' as checkout_address_reuse %}
                {% include 'addresses/prev_addresses.html' with address_qs=address_qs next=request.build_absolute_uri action_url=checkout_address_reuse addressType='billing' %}
                {% endif %}

                <a class="btn badge badge-secondary badge-pill" data-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseExample">Add an Address</a>
                <div class="collapse" id="collapseForm">
                    <div class="card card-body">
                {% url 'addresses:checkout_address_create' as checkout_address_create_url %}
                {% include 'addresses/form.html' with form=address_form next=request.build_absolute_uri action_url=checkout_address_create_url addressType='billing' %}
                    </div>
                </div>
                <br>
                <br>
                <h5>Shipping Address</h5>
                <p>{{ sale_obj.saleShippingAddress.addressLine1 }}, {{ sale_obj.saleShippingAddress.addressCity }}, {{ sale_obj.saleShippingAddress.addressState }} {{ sale_obj.saleShippingAddress.addressCountry }}</p>
                {% include 'shopcart/edit-shipping-form.html' with form=edit_form %}
                <br>
                <h5>Shipping Method</h5>
                <p>{{ sale_obj.customerShipMethodID }}</p>
                {% include 'shopcart/edit-ship-method-form.html' with form=edit_form %}
                <br>
            </div>

        {% include 'shopcart/snippets/cart-display.html' %}
        </div><!--End of row-->
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn badge badge-secondary" href="{% url 'shopcart:home' %}">Return to Cart</a>
            </div>
        </div>
</div>
    {% elif not sale_obj.salePaymentCard %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Payment Info</h1>
            <hr/>
        </div>
        <div class="col-6">
            {% if card_qs.exists %}
            <h4>Saved Payment Methods</h4>
            <p>Pick existing card: </p>
            {% include 'billing/existing-payment-method-form.html' %}
            {% endif %}
            <p>
                <a class="btn badge badge-secondary badge-pill" data-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseExample">Add New Payment Method</a>
            </p>
            <div class="collapse" id="collapseForm">
            {% include 'billing/payment-method-form.html' %}
            </div>
        </div>
        {% include 'shopcart/snippets/cart-display.html' %}
    </div><!-- End of Row -->
    <div class="row">
        <div class="col-12 text-center">
            <a class="btn badge badge-secondary" href="{% url 'shopcart:home' %}">Return to Cart</a>
        </div>
    </div>
</div>
    {% else %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Finalize Checkout</h1>
            <hr>
        </div>
        <div class="col-12">
            <form class="form" method="POST" action="{% url 'shopcart:checkout' %}">{% csrf_token %}
                <button type="submit" class="btn btn-block badge-secondary">Complete Checkout and Authorize Payment</button>
            </form>
        <br>
        </div>
        <div class="col-6">
            <h4>Shipping Address</h4>
            <p>{{ sale_obj.saleShippingAddress.addressLine1 }}, {{ sale_obj.saleShippingAddress.addressCity }}, {{ sale_obj.saleShippingAddress.addressState }} {{ sale_obj.saleShippingAddress.addressCountry }}</p>
            {% include 'shopcart/edit-shipping-form.html' with form=edit_form %}
            <br>
            <h5>Shipping Method</h5>
            <p>{{ sale_obj.customerShipMethodID }}</p>
            {% include 'shopcart/edit-ship-method-form.html' with form=edit_form %}
            <br>
            <h4>Billing Address</h4>
            <p>{{ sale_obj.saleBillingAddress.addressLine1 }}, {{ sale_obj.saleBillingAddress.addressCity }}, {{ sale_obj.saleBillingAddress.addressState }} {{ sale_obj.saleBillingAddress.addressCountry }}</p>
            {% include 'shopcart/edit-billing-form.html' with form=edit_form %}
            <br>
            <h4>Payment Method</h4>
            <p>{{ sale_obj.salePaymentCard }}</p>
            {% include 'shopcart/edit-card-form.html' with form=edit_form %}
        </div>
        {% include 'shopcart/snippets/cart-display-finalize.html' %}
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a class="btn badge badge-secondary" href="{% url 'shopcart:home' %}">Return to Cart</a>
        </div>
    </div>
    </div>
    {% endif %}

{% endif %}

{% endblock %}