{% extends 'layout.html' %}

<!-- Breadcrumbs -->
{% block breadcrumbs %}
    <a href="#">Checkout</a>
    >
    <a href="#">Shipping Address</a>
    >
    <a href="#">Billing</a>
{% endblock %}
<!-- Breadcrumbs -->
{% block content %}

{% if not billing_profile %}

    <div class="row text-center">
        <div class="col-12 col-md-6">
            <p class="lead">Login</p>
            {% include 'users/snippets/form.html' with form=login_form next=request.build_absolute_uri %}
        </div>
        <div class="col-12 col-md-6">
            <p class="lead">Continue as Guest</p>
            {% url 'users:guest_register' as guest_register_url %}
            {% include 'users/snippets/form.html' with form=guest_form next=request.build_absolute_uri action_url=guest_register_url %}
        </div>
    </div>

{% else %}

    {% if not sale_obj.saleShippingAddress %}
        <p>{{ cart_obj }}</p>
        <div class="row">
            <div class="col-12">
                <p class="lead">Shipping Address</p>
                <hr/>
            </div>
            <div class="col-6">
                {% url 'addresses:checkout_address_create' as checkout_address_create_url %}
                {% include 'addresses/form.html' with form=address_form next=request.build_absolute_uri action_url=checkout_address_create_url addressType='shipping' %}
                {% url 'addresses:checkout_address_reuse' as checkout_address_reuse %}
                {% include 'addresses/prev_addresses.html' with address_qs=address_qs next=request.build_absolute_uri action_url=checkout_address_reuse addressType='shipping' %}
            </div>

            <div class="col-6">
                <h4>Your Items</h4>
                {% for item in sale_obj.saleItems.all %}

                    <p>{{ item.productID }}, {{ item.piColor }}, {{ item.piSize }}</p>

                {% endfor %}
                <p>Subtotal: ${{ sale_obj.saleSubTotal }}</p>
                {% if discount_qs.exists %}
                <p>Discounts Applied:</p>
                {% for discount in discount_qs %}
                <p>{{ discount.sDiscountName }}</p>
                {% endfor %}
                {% if sale_obj.saleDiscountAmount != 0.00 %}<p>Discount: ${{ sale_obj.saleDiscountAmount }}</p>{% endif %}
                {% endif %}
                <p>Enter a Coupon Code</p>
                {% url 'coupons:apply_discount' as apply_discount %}
                {% include 'coupons/form.html' with form=coupon_form action_url=apply_discount %}
                <p>Shipping Cost: ${{ sale_obj.saleShipCostAmountCharged }}</p>
                <p>Sales Tax: ${{ sale_obj.saleTaxAmount }}</p>
                <!-- change: add tax -->
                <p>Sale Total: ${{ sale_obj.saleTotal }}</p>
            </div>

        <!-- in checkout have if manytomany discount-sale exists 
        then show applied discounts and then form for code input
        else if none exist just show form-->

        </div><!-- End of Row -->
    {% elif not sale_obj.saleBillingAddress %}

        {{ cart_obj }}
        <div class="row">
            <div class="col-12">
                <p class="lead">Billing Address</p>
                <hr/>
            </div>
            <div class="col-6">
                {% url 'addresses:checkout_address_create' as checkout_address_create_url %}
                {% include 'addresses/form.html' with form=address_form next=request.build_absolute_uri action_url=checkout_address_create_url addressType='billing' %}
                {% url 'addresses:checkout_address_reuse' as checkout_address_reuse %}
                {% include 'addresses/prev_addresses.html' with address_qs=address_qs next=request.build_absolute_uri action_url=checkout_address_reuse addressType='billing' %}
            </div>

            <div class="col-6">
                <h4>Your Items</h4>
                {% for item in sale_obj.saleItems.all %}

                    <p>{{ item.productID }}, {{ item.piColor }}, {{ item.piSize }}</p>

                {% endfor %}
                <p>Subtotal: ${{ sale_obj.saleSubTotal }}</p>
                {% if discount_qs.exists %}
                <p>Discounts Applied:</p>
                {% for discount in discount_qs %}
                <p>{{ discount.sDiscountName }}</p>
                {% endfor %}
                {% if sale_obj.saleDiscountAmount != 0.00 %}<p>Discount: ${{ sale_obj.saleDiscountAmount }}</p>{% endif %}
                {% endif %}
                <p>Enter a Coupon Code</p>
                {% url 'coupons:apply_discount' as apply_discount %}
                {% include 'coupons/form.html' with form=coupon_form action_url=apply_discount %}
                <p>Shipping Cost: ${{ sale_obj.saleShipCostAmountCharged }}</p>
                <p>Sales Tax: ${{ sale_obj.saleTaxAmount }}</p>
                <p>Sale Total: ${{ sale_obj.saleTotal }}</p>
            </div>
        </div>

    {% else %}

        <div class="row">
        <div class="col-12">
            <h1>Finalize Checkout {{ sale_obj }}</h1>
            <hr/>
        </div>
        <div class="col-6">
            <h4>Shipping Address</h4>
            <p>{{ sale_obj.saleShippingAddress.addressLine1 }}</p>
            <p>{{ sale_obj.saleShippingAddress.addressCity }}, {{ sale_obj.saleShippingAddress.addressState }} {{ sale_obj.saleShippingAddress.addressCountry }}</p>
            <h4>Billing Address</h4>
            <p>{{ sale_obj.saleBillingAddress.addressLine1 }}</p>
            <p>{{ sale_obj.saleBillingAddress.addressCity }}, {{ sale_obj.saleBillingAddress.addressState }} {{ sale_obj.saleBillingAddress.addressCountry }}</p>
        </div>
        <div class="col 6">
            <h4>Your Items</h4>
            {% for item in sale_obj.saleItems.all %}

                <p>{{ item.productID }}, {{ item.piColor }}, {{ item.piSize }}</p>

            {% endfor %}
            <p>Subtotal: ${{ sale_obj.saleSubTotal }}</p>
            {% if discount_qs.exists %}
            <p>Discounts Applied:</p>
            {% for discount in discount_qs %}
            <p>{{ discount.sDiscountName }}</p>
            {% endfor %}
            {% if sale_obj.saleDiscountAmount != 0.00 %}<p>Discount: ${{ sale_obj.saleDiscountAmount }}</p>{% endif %}
            {% endif %}
            <p>Shipping Cost: ${{ sale_obj.saleShipCostAmountCharged }}</p>
            <p>Sales Tax: ${{ sale_obj.saleTaxAmount }}</p>
            <p>Sale Total: ${{ sale_obj.saleTotal }}</p>

            <form class="form" method="POST" action="{% url 'shopcart:checkout' %}">{% csrf_token %}
                <button type="submit">Complete Checkout</button>
            </form>
        </div>
        </div>
    {% endif %}

{% endif %}

{% endblock %}