{% extends 'layout.html' %}
{% block content %}
<h1>Cart {{ shopcart }}</h1>
{% if shopcart.shopCartItems.exists %}
<table class="table table-border">
    <tbody>
        {% for item in shopcart.shopCartItems.all %}
        <tr>
            <th scope="row">-</th>
            <td>{{ item.productID }}</td>
            <td>{{ item.piColor }}</td>
            <td>{{ item.piSize }}</td>
            <td>{{ item.productID.productBasePrice }}</td>
            <td>{{ item.productID.productDiscountAmount }}</td>
            <td>{{ item.productID.productSalePrice }}</td>
            <td>{% include 'shopcart/form.html' with prod=item %}</td>
        </tr>
        {% endfor %}
<!--
            <form method="post" action="{% url 'shopcart:remove' %}">{% csrf_token %}
            <input type="hidden" value="{{ item.prodStockID }}">
            <td><input type="submit" class="btn btn-info" value="Remove"></td>
            </form>
-->
        <tr>
            <td colspan="6">-</td>
            <td><b>Subtotal:</b> {{ shopcart.shopCartSubTotal }}</td>
        </tr>
        <tr>
            <td colspan="6">-</td>
            <td><a class="btn btn-block btn-success" href="{% url 'shopcart:checkout' %}">Checkout</a></td>
        </tr>

    </tbody>
</table>
{% else %}
<h2>Shopping cart is empty.</h2>
{% endif %}
{% endblock %}