{% extends 'base.html' %}

<!-- Breadcrumbs -->
{% block breadcrumbs %}
    <a href="{% url 'homepage:home' %}">Home</a>
    >
    <a href="{% url 'products:list' %}">Shop</a>
    >
    <a href="{% url 'products:category' view.kwargs.category %}">{{view.kwargs.category}}</a>
    > 
    <a href="{% url 'products:detail' view.kwargs.category product.productSlug %}">{{product.productName}}</a>
{% endblock %}
<!-- Breadcrumbs -->

{% block content %}
{% load product_extras %}
{% load humanize %}
    
    {% if messages %}
    </div>
    <div class="container-fluid">
    <div class="col-12 text-center">
        {% for message in messages %}
        {% if message.tags == 'warning' %}
        <div class="messages alert alert-danger" role="alert">
            <p class="{{ message.tags }} p-0">{{ message }}</p>
        </div>
        {% elif message.tags == 'success' %}
        <div class="messages alert alert-success" role="alert">
            <p class="{{ message.tags }} p-0">{{ message }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 d-none d-md-block"><!-- small images column -->
                <div id="data-product-small-image" class="thumbnail">
                    {% for productImage in product1.first.productcolor_set.first.productimage_set.all %}
                    <img class="img-fluid" style="width:100%" src="{{ productImage.productImagePath.url }}" alt="">
                    {% endfor %}
                </div>
            </div>
            <div id="data-product-big-image" class="col-md-6"><!-- big image column -->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol id="data-car-indicators" class="carousel-indicators">
                    {% for image in product_colors.first.productimage_set.all %}
                        {% if forloop.counter == 1 %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}" class="active"></li>
                        {% else %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}"></li>
                        {% endif %}
                    {% endfor %}
                    </ol>
                    <div id="data-car-images" class="carousel-inner">
                    {% for image in product_colors.first.productimage_set.all %}
                        {% if forloop.counter == 1 %}
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{{ image.productImagePath.url }}" alt="picture-{{ forloop.counter }}">
                        </div>
                        {% else %}
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{{ image.productImagePath.url }}" alt="picture-{{ forloop.counter }}">
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4"><!-- details column -->
                <h3 id="product" class="mb-1" data-product-slug="{{product1.first.productSlug}}">{{product1.first.productName}}</h3>


                {% if product.productDiscountAmount %}

                <div>
                    <s class="text-danger">${{ product.productBasePrice }}</s>
                    <p>${{ product.productSalePrice }}</p>
                </div>
                
                {% else %}

                <div>
                    <p>${{ product.productSalePrice }}</p>
                </div>

                {% endif %}
                <hr>
                <!-- update_cart form -->
                {% include 'products/test-update-cart.html' %}
                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

                <!-- ajax/load-sizes script -->
                <script>
                    $('input[type="radio"]').on("click", function() {
                        var url = $("#shopCartForm").attr("data-sizes-url");  // get the url of the `load_cities` view
                        var productColorID = $(this).val();  // get the selected country ID from the HTML input
                        var productSlug = $("#product").attr("data-product-slug");
                        $(this).checked = true;

                        $.ajax({                       // initialize an AJAX request
                            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)

                            data: {
                            'productColorID': productColorID,       // add the country id to the GET parameters
                            'productSlug': productSlug       // add the country id to the GET parameters
                            },

                            success: function (data) {   // `data` is the return of the `load_cities` view function
                                var $response=$(data);


                                var images = $response.find('#data-small-images');
                                var sizes = $response.find('#data-sizes');
                                var carIndicators = $response.find('#data-car-indicators');
                                var carImages = $response.find('#data-car-images');
                                // split response into array on newline
                                var array = data.split("\n");
                                // initialize containers for sizes and images
                                var sizeArray = [];
                                var imgArray = [];
                                // for loop to get size options and image tags into array
                                for(var x in array){

                                    if(array[x].includes("<input") == true){
                                        sizeArray[x] = array[x];
                                    }
                                    else if(array[x].includes("<img") == true){
                                        imgArray[x] = array[x];
                                    }

                                }
                                $("#size").html(sizes.html());  // replace the contents of the city input with the data that came from the server
                                $("#data-product-small-image").html(imgArray)
                                $("#data-product-small-image").html(images.html())
                                $("#data-car-indicators").html(carIndicators.html())
                                $("#data-car-images").html(carImages.html())
                            }
                        });

                    });
                </script>
                <hr>
                <h4>Description</h4>
                <p>{{ product1.first.productDescription|linebreaks }}</p>
                <br/>
            </div>
        </div>
        </div>

{% endblock %}