{% extends 'base.html' %}

<!-- Breadcrumbs -->
{% block breadcrumbs %}
    <a href="{% url 'homepage:home' %}">Home</a>
    >
    <a href="{% url 'products:list' %}">Shop</a>
    >
    <a href="{% url 'products:category' view.kwargs.category %}">{{view.kwargs.category}}</a>
    > 
    <a href="{% url 'products:detail' view.kwargs.category product.productSlug %}">{{product.productName}}</a>
{% endblock %}
<!-- Breadcrumbs -->

{% block content %}
{% load product_extras %}
{% load humanize %}
    
        <div class="row">
            <div class="col-lg-2"><!-- small images column -->
                <div id="data-product-small-image" class="thumbnail">
                    {% for productImage in product1.first.productcolor_set.first.productimage_set.all %}
                    <img class="img-fluid" style="width:100%" src="{{ productImage.productImagePath.url }}" alt="">
                    {% endfor %}
                </div>
            </div>
            <div id="data-product-big-image" class="col-md-6"><!-- big image column -->
                <img style="width:100%" src="{{ product1.first.productcolor_set.first.productimage_set.first.productImagePath.url }}" alt="{{ product.productName }}">
            </div>
            <div class="col-md-4"><!-- details column -->
                <h3 id="product" class="mb-1" data-product-slug="{{product1.first.productSlug}}">{{product1.first.productName}}</h3>


                {% if product.productDiscountAmount %}

                <div>
                    <s class="text-danger">${{ product.productBasePrice }}</s>
                    <p>${{ product.productSalePrice }}</p>
                </div>
                
                {% else %}

                <div>
                    <p>${{ product.productSalePrice }}</p>
                </div>

                {% endif %}
                <hr>
                <!-- update_cart form -->
                {% include 'products/update_cart.html' with productcolor=product1.first.productcolor_set.all shopcart=shopcart  %}
                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

                <!-- ajax/load-sizes script -->
                <script>
                    $('input[type="radio"]').on("click", function() {
                        var url = $("#shopCartForm").attr("data-sizes-url");  // get the url of the `load_cities` view
                        var productColorID = $(this).val();  // get the selected country ID from the HTML input
                        var productSlug = $("#product").attr("data-product-slug");
                        $(this).checked = true;

                        $.ajax({                       // initialize an AJAX request
                            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)

                            data: {
                            'productColorID': productColorID,       // add the country id to the GET parameters
                            'productSlug': productSlug       // add the country id to the GET parameters
                            },

                            success: function (data) {   // `data` is the return of the `load_cities` view function
                                // split response into array on newline
                                var array = data.split("\n");
                                // initialize containers for sizes and images
                                var sizeArray = [];
                                var imgArray = [];
                                // for loop to get size options and image tags into array
                                for(var x in array){

                                    if(array[x].includes("<input") == true){
                                        sizeArray[x] = array[x];
                                    }
                                    else if(array[x].includes("<img") == true){
                                        imgArray[x] = array[x];
                                    }

                                }
                                $("#size").html(sizeArray);  // replace the contents of the city input with the data that came from the server
                                $("#data-product-small-image").html(imgArray)
                                $("#data-product-big-image").html(imgArray)
                            }
                        });

                    });
                </script>
                <hr>
                <h4>Description</h4>
                <p>{{ product1.first.productDescription|linebreaks }}</p>
            </div>
        </div>

{% endblock %}