{% extends "layout.html" %}

<!-- Breadcrumbs -->
{% block breadcrumbs %}
    <a href="{% url 'home' %}">Home</a>
    >
    <a href="{% url 'products:list' %}">Shop</a>
    >
    <a href="{% url 'products:category' view.kwargs.category %}">{{view.kwargs.category}}</a>
    > 
    <a href="{% url 'products:detail' view.kwargs.category product.productSlug %}">{{product.productName}}</a>
{% endblock %}
<!-- Breadcrumbs -->

{% block content %}
{% load product_extras %}
{% load humanize %}
    
    <div class="container">
        <div class="row">
            <div class="col col-lg-2 bg-warning">
                <div class="row">
                    <p>Mini pics here.</p>
                    <p>{{category.categoryName}}</p>
                </div>
            </div>
            <div class="col-md-6 bg-secondary">
                <img src="{{ product.productimage_set.first.productImagePath.url }}" alt="{{ product.productName }}" height="364" width="300">
            </div>
            <div class="col-md-4 bg-warning">
                <h2>{{product.productName}}</h2>
                {% if product.pricing_set.first.productID.pdiscount_set.first.pDiscountType %}
                    <s>${{product.pricing_set.first.pricingBasePrice|floatformat:2}}</s>
                    <h4>${% get_discount_price product.pricing_set.first.pricingBasePrice as discounted_price %}{{discounted_price|floatformat:2}}</h4>
                {% else %}
                    <h4>${{product.pricing_set.first.pricingBasePrice}}</h4>
                {% endif %}
                <ul>
                    {% for purchaseitem in product.purchaseitems_set.all %}
                        <li>{{purchaseitem.piColor}}</li>
                    {% endfor %}
                </ul>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Size
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% for purchaseitem in product.purchaseitems_set.all %}
                            <li>{{purchaseitem.piSize}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <p>{{product.productDescription}}</p>
                <button>Add to Bag</button>
            </div>
        </div>
    </div> <!-- /container -->

{% endblock %}