{% extends "layout.html" %}

<!-- Picture/Advertisement for category -->
<!-- Picture/Advertisement for category -->

<!-- Breadcrumbs -->
{% block breadcrumbs %}
    <a href="{% url 'home' %}">Home</a>
    >
    <a href="{% url 'products:list' %}">Shop</a>
    >
    <a href="{% url 'products:list' %}{{view.kwargs.category}}">{{view.kwargs.category}}</a>
{% endblock %}
<!-- Breadcrumbs -->

<!-- Category Page Header -->
<!-- Category Page Header -->
<!-- Sorting Sidebar -->
<!-- Sorting Sidebar -->
<!-- Number search results -->
{% block content %}
{% load product_extras %}
{% load humanize %}
        <!-- Category Name Header -->
        <h1 class="text-center">{{view.kwargs.category}}</h1>
        <!-- Category Name Header -->

        <!-- Sorting drop down menu -->
        <label>Sort By: 
            <select name="action" required="">
                <option value="" selected="">---------</option>
            </select>
        </label>
        <!-- Sorting drop down menu -->

        <!-- Product Cards -->
        <div class="row">
        {% for product in product_list %}
            <div class="col-md-4">
                <div class="thumbnail">
                    <a class="text-center" href="{% url 'products:detail' view.kwargs.category product.productSlug %}">
                        <img style="width:100%" src="{{ product.productcolor_set.first.productimage_set.first.productImagePath.url }}" alt="{{ product.productName }}">
                    </a>
                    <h2 class="text-center">{{product.productName}}</h2>
                    {% if product.pricing_set.first.productID.pdiscount_set.first.pDiscountType %}
                        <div class="text-center">
                            <s>${{product.pricing_set.first.pricingBasePrice|floatformat:2}}</s>
                            <h4>${% get_discount_price product.pricing_set.first.pricingBasePrice as discounted_price %}{{discounted_price|floatformat:2}}</h4>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <h4>${{product.pricing_set.first.pricingBasePrice|floatformat:2}}</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
        <hr>
        <!-- Product Cards -->

        <!-- Pagination. Django has a Paginator module/template at https://docs.djangoproject.com/en/2.1/topics/pagination/#using-paginator-in-view -->
        <!-- Pagination -->

{% endblock %}